{% extends 'base.html' %}

     
{% block content %}
{% include "navbar.html" %}
        <div class="container">
                <div class="col">
                    <div class="row">
                        {% for photo in photos %}
                        <div class="col-md-3 m-2">
                            <div class="card" >
                                <img class="card-img-top" src="{{photo.image.url}}" alt="Card image cap" style="height: 200px;">
                                <div class="card-body">
                                  <h5 class="card-title">  
                                    <small><strong>Category:{{photo.category.name}}</strong></small><br>
                                    <a href="{% url 'photo' photo.id %}" class="btn btn-success align-center">View</a>
                                    <input class="form-control m-2" type="text"
                                    value="{{photo.image.url}}" id="{{photo.id}}.url">
                                    <button class="btn btn-success btn-sm" onclick="copyLink('{{photo.id}}.url')">Copy link</button>
                                </div>
                              </div>
                        </div>
                        {% empty %}
                        <h3 class="text-danger">No photos Uploaded in Here........</h3>
                        {% endfor %}
                        
            
                        
                    </div>
                </div>

        </div>
        </div>
        {% endblock %}
