<nav class="navbar navbar-expand-lg navbar-dark bg-success"> <a class="navbar-brand" href="{% url 'gallary' %}" data-abc="true">GALLARY ALBUM</a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            {%for location in locations%}
                    <li class="list-group-item">
                       <a href="{% url 'gallary' %}?location={{location.name}}"> {{location.name}}</a>
                    </li>
                    {% endfor %}
                </ul>     
        </ul>
        <form class="navbar-form" role="search" action="{% url 'search_results' %}">

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search category" name="category">
              <div class="input-group-btn">
                <button class="btn btn-default ml-2" type="submit">Search</button>
              </div>
            </div>
  
          </form>
    </div>
</nav>