{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row justify-cotent-center">
            <div class="col-md-9">
                <a href="{% url 'gallary' %}" class="btn btn-success my-3">Go Back</a>
                <div style="height: 100vh;">
                <img style="height:60%;" src="{{photo.image.url}}">
                <p><strong>{{ photo.description}}</strong></p>
            </div>
                
            </div>
        </div>
    </div>
    {% endblock %}