body{
    /* padding-top:2%; */
    background-image: url(/static/images/bgd.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height: 1320px;
}
.over{
margin:0;
padding:0;
background-color:rgba(0, 0, 0, 0.623);
height: 1320px;
}

#h3{
    color: azure;
    font-weight: 400;
}
ul li a{
color: white;

}
ul li a:hover{
    color: white;
    text-decoration: none;
    
    }

.list-group-item{
    background-color: #41A846;
    border: none;
}

.desc{
    margin-top: 10px;
    text-align: center;
    height: 100px;
    width: 400px;
    z-index: 999;
    color: azure;
    /* background-color: #85c589; */
    border-radius: 10px;
}


