body{
    /* padding-top:2%; */
    background-image: url(/static/images/bgd.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    height: 1000px;
}
.over{
margin:0;
padding:0;
background-color:rgba(0, 0, 0, 0.534);
height: 100%;
}

ul li a{
color: white;

}

.list-group-item{
    background-color: #41A846;
    border: none;
}


